body{
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    border: 5px #3388CC;
    background-color: aquamarine;
}

    /* Alizée Chéret-Guillet */

header{
    background-color: blue;
    border: 5px #3388CC;
    color: black;
    border-radius: 15px;
    text-align: right;
    font-size: 16px;
    padding: 15px 0;
    margin: 15px;
}

.contener{
    border: 5px #3388CC;
    color: black;
    width: 780px;
    border-radius: 15px;
    text-align: center;
    margin: auto;
    padding: 20px;
    gap: 20px;
    background-color: white;
    font-size: 16px;
}

.education{
    border: 5px #3388CC;
    color: black;
    font-weight: 20px;
    border-radius: 15px;
    padding: 10px;
    font-size: 16px;
    margin: autoS;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
}

.educations{
    background-color: aqua;
    border: 5px #3388CC;
    color: black;
    border-radius: 15px;
    height: 100px;
    width: 600px;
    margin: 10px;
    font-size: 16px;
    padding: 70px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.1);

} 

.expprose{
    background-color: aqua;
    height: 300px;
    width: 600px;
    margin: 10px;
    padding: 70px;
    border: 5px #3388CC;
    color: black;
    font-weight: 20px;
    border-radius: 15px;
    font-size: 16px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.1);

}

.competences{
    background-color: aqua;
    border: 5px #3388CC;
    color: black;
    border-radius: 15px;
    float: center;
    height: 200px;
    width: 600px;
    margin: 10px;
    font-size: 16px;
    padding: 70px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.1);

}

.contact{
    background-color: aqua;
    border: 5px #3388CC;
    color: black;
    border-radius: 15px;
    float: left;
    height: 100px;
    width: 50px;
    margin: 10px;
    font-size: 16px;
    padding: 70px;

}

.into {
    border: 5px #3388CC;
    color: black;
    border-radius: 15px;
    float: right;
    font-size: 16px;
    width: 750px;
    height: 50px;
    padding: 70px;
}

.into img {
    border: 5px #3388CC;
    float: left;
    color: black;
    border-radius: 15px;
    font-size: 16px;
    width: 100px;
    height: 100px;
}

footer {
    background-color: aqua;
    border: 5px #3388CC;
    color: black;
    border-radius: 15px;
    text-align: right;
    padding: 70px;
    margin-top: 20px;
    clear: both;
    font-size: 16px;
    height: 10px;
    width: 650px;
}

footer button {
    background-color: black;
    border: 5px #3388CC;
    color: black;
    border-radius: 15px;
    float: center;
    border: none;
    color: blanchedalmond;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

footer button:hover {
    background-color: aqua;
}