body{
    background-color: #05dffc ;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
    color: #4c03f7;
}
button{
    background-color: #4c03f7;
    color:#04f9f9;
    width: 22%;
    padding: 30px;
    margin: 20px;
    border: 2px solid rgb(5, 253, 158);
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3 ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 10px rgb(13, 223, 97); 
    font-weight: bold;

}

button:hover{
    background-color: rgba(4, 194, 247, 0.829);
    box-shadow: 0 4px 10px aqua; 
}

footer {
    text-align: center;
    margin-top: 40px;
    font-size: 14px;
    color: black;
  }