body {

    font-family: "Roboto", sans-serif;

    background-color: aliceblue;

    text-align: center;

    margin: 1;

    padding: 20px;

}

.p{
    
    font-family: "Roboto", sans-serif;

    background-color: rgba(15, 15, 15, 0);

    text-align: center;

    margin: 1;

    padding: 20px;

}

h1{
    color: black;
    float: right;
}

h2{
    color: black;
    float: left;
}

h3{
    color: black;
    float: right;
}

p1{
    color: black;
    float: right;
}
p2{
    color: black;
    float: right;
}


p{
    color: black;
    float: left;
}

img {
    float: left;
    width: 10%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 30px;
}