/*Chéret-Guillet Alizée*/
body {
  font-family: Arial, sans-serif;
  background-color: #83d0e4;
  margin: 0;
  padding: 0;
}

/*Le premiere titre*/
h2 {
    color: #6d807f;
    size: 16%;
}

h3 {
    color: black;
    text-align: left;
}

p {
    color: black;
}

.secondaire {
    text-align: left;
}

h4 {
    color: black;
    text-align: right;
}

.important {
    text-align: right;
}

/* Bande du haut */
.topbar {
  background-color: #0e8b84;
  color: black;
  padding: 15px;
}

/* Mise en forme du titre facture */
.invoice-title {
  color: black;
  text-align: right;
}

/* Contenu principal */
.container {
  color: #0cc0d8;
  width: 90%;
  margin: 20px auto;
}

/* Boîtes destinataire / envoyer à */
.client-sender {
  display: flex;
  gap: 15px;
}

/* Tableau */
table {
  width: 90%;
  border-collapse: collapse;
  margin-top: 15px;
  background-color: #0c6f68;
}

th, td {
  color: white;
  border: 1px solid black;
  padding: 6px;
}

.input {
  width: 100%;
  padding: 5px;
  border: 1px solid #999;
}

.input desc {
  width: 90%;
  border-collapse: collapse;
  margin-top: 15px;
  background-color: #e5f0ef;
}

/* Boutons */
.controls {
  margin-top: 10px;
}

.controls button {
  padding: 8px 12px;
  margin-right: 5px;
  background-color: #999;
  border-radius: 5%;
  color: black;
  border: none;
  cursor: pointer;
}

.controls button:hover {
  background-color: #0c6f68;
}

/* Résumé à droite (sous-total, taxe…) */
label {
  padding: 4px;
  width: 300px;
  text-align: right;
  margin-top: 20px;
  margin-bottom: 8px;
}

/* Pied de page */
.footer {
  margin-top: 20px;
  padding: 10px;
  color: #555;
  font-size: 14px;
}