body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f0f0f0;
}

header {
    background-color: #03f7fb;
    color: white;
    text-align: center;
    font-size: 2em;
    padding: 10px;
    margin: 10px;
    height: 100px;
}

.titre {
    background-color: #03e2fb;
    color: rgb(4, 25, 255);
    text-align: center;
    font-size: 2em;
    padding: 10px;
    margin: 10px;
    height: 100px;
}

.principaly {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    width: 750px;
    gap: 20px;
    background-color: rgb(252, 2, 2);
}

.gros {
    border: 2px solid #03c1f5;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
}

.titre-box {
    background-color: #03e2fb;
    color: white;
    padding: 8px;
    border-radius: 5px 5px 5px 5px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.desc-box {
  
    background-color: #f86204;
    color: white;
    padding: 8px;
    border-radius: 5px 5px 5px 5px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    height: 90%;
}

.desc {
    font-size: 0.9em;
    color: rgb(0, 0, 0);
    line-height: 1.4em;
}

.desc img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
}

footer {
    background-color: #cbed08;
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
}

footer button {
    background-color: white;
    border: none;
    color: #02f6ea;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

footer button:hover {
    background-color: #04fbb5;
}

