body {

    font-family: "Roboto", sans-serif;

    background-color: aliceblue;

    text-align: center;

    margin: 1;

    padding: 20px;

}
 input.t {

    width: 27px;

    padding: 12px;

    margin: 10px;

    font-size: 1.2em;

    border: 4px solid #fff;
    
    border-radius: 8px;

    background-color: aliceblue;

    color: aqua;

    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);

    transition: border 0.3s ease;

}

button{

    background-color: blue;

    color: white;

    padding: 12px 25px;

    margin: 10px;

    border: none;

    border-radius: 25px;

    font-size: 1em;

    cursor: pointer;

    transition: background-color 0.3s ease, box-shadow 0.3s ease;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

}

button:hover {

    background-color: #6c5ce7;

    box-shadow: 0px 4px 15px rgba(231, 92, 200, 0.4);


}