body{
    background-color: aqua;
}
button{
    width: 250px;
    height: 200px;
    background-color: blue;
    color: white;
    border: 2px solid white;
    border-radius: 26px;
    font-size: 2em;
    margin: 30px;
    transition: 0.2s;
}
button:hover{
    background-color: rgb(7, 250, 177);
    color: green;
    border: 2px solid blue;
    transition: 150ms;
}