body{
    font-family: arial ,sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    color: black;
}

form{
    background-color: rgb(7, 215, 243);
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 2);
}
label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input[type="text"], input[type="password"]{
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 5px solid #07d7f3;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 2);
}
input[type="email"], input[type="radio"], input[type="date"]{
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 5px solid #07f3cc;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 2);
}
input[type="submit"]{
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 2);
    cursor: pointer;
}
input[type="submit"]:hover{
    background-color: green;
}